.footer {
  padding: 180px 0 90px 0;
}
.footer_container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 20px;
  background: var(--color-rose-61, #d46381);
  padding: 120px 230px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_logo {
  width: 210px;
  height: auto;
}
.footer_info {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer_info a {
  color: var(--www-mobilehealthcarefc-com-white, var(--color-white-solid, #fff));
  font-family: Poppins;
  font-size: var(--font-size-16, 16px);
  font-style: normal;
  font-weight: var(--font-weight-400, 400);
  line-height: normal;
  transition: opacity 0.3s ease;
}
.footer_info a:hover {
  opacity: 0.7;
}
.footer_info p {
  color: var(--www-mobilehealthcarefc-com-white, var(--color-white-solid, #fff));
  font-family: Poppins;
  font-size: var(--font-size-16, 16px);
  font-style: normal;
  font-weight: var(--font-weight-400, 400);
  line-height: normal;
}
.footer_socials {
  display: flex;
  gap: 19px;
}
@media (max-width: 1440px) {
  .footer_container {
    padding: 120px 130px;
  }
}
@media (max-width: 1200px) {
  .footer_container {
    padding: 120px 100px;
  }
}
@media (max-width: 1024px) {
  .footer_container {
    padding: 120px 50px;
  }
}
@media (max-width: 768px) {
  .footer_container {
    padding: 120px 20px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .footer_container > * {
    max-width: 261px;
    width: 100%;
    text-align: left;
  }
  .footer_logo img {
    margin: 0 auto;
  }
  .footer {
    padding: 120px 0 120px 0;
  }
}
