/* Main Section Styles */

.main {
  padding-top: 150px;
  padding-bottom: 150px;
}
.main_container {
  max-width: 1206px;
  padding: 0 20px;
  margin: 0 auto;
}
.main_title {
  color: var(--www-mobilehealthcarefc-com-black, var(--color-black-solid, #000));
  text-align: center;
  font-family: Manrope;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 57.2px */
  text-transform: uppercase;
  max-width: 1033px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.main_title span {
  color: var(--www-mobilehealthcarefc-com-charm, var(--color-rose-61, #d46381));
  font-family: Manrope;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}
.main_subtitle {
  max-width: 815px;
  color: var(--www-mobilehealthcarefc-com-tuna, var(--color-grey-24, #3a3c3f));
  text-align: center;
  font-family: Poppins;
  font-size: var(--font-size-18, 18px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 28px;
}
.main_img_mask {
  /* Fallback styling for the image */
  max-width: 100%;
  height: auto;
}

.main_video_mask {
  width: 100%;
  height: auto;
  max-width: 100%;
  /* Apply the mask using the Subtract.png image */
  -webkit-mask-image: url('../img/main/Subtract.png');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  /* Standard mask properties for other browsers */
  mask-image: url('../img/main/Subtract.png');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  /* Ensure the video maintains aspect ratio */
  object-fit: cover;
}
.doc-text_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;
  border-radius: 30px;
  background: #fff;

  /* Card Shadow Intensive */
  box-shadow: 0px 57px 16px 0px rgba(0, 0, 0, 0), 0px 36px 14px 0px rgba(0, 0, 0, 0.01),
    0px 20px 12px 0px rgba(0, 0, 0, 0.05), 0px 9px 9px 0px rgba(0, 0, 0, 0.09),
    0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 11px 15px 11px 11px;
  display: flex;
  gap: 26px;
}
.doc-img {
  width: 189px;
  height: 195px;
}
.doc_texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.doc_title {
  color: var(--www-mobilehealthcarefc-com-tuna, var(--color-grey-24, #3a3c3f));
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.doc_list {
  list-style: disc;
  padding-left: 20px;
}
.doc_list_item {
  color: var(--www-mobilehealthcarefc-com-tuna, var(--color-grey-24, #3a3c3f));
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
.main_video_wrapper {
  position: relative;
}
.main_button_mob-main {
  position: absolute;
  bottom: -25px;
  right: 46px;
}
.mob_subtitle {
  display: none;
}
@media (max-width: 1100px) {
  .main_button_mob-main {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  }
  .doc-text_wrapper {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  }

  .main_video_mask {
    /* Remove mask on smaller screens */
    -webkit-mask-image: none;
    mask-image: none;
  }
  .main_video_mobile {
    border-radius: 20px;
  }
  .doc-text_wrapper {
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    margin-top: -50px;
  }
  .doc-img {
    width: 144.689px;
    height: 149.282px;
  }
  .doc_title {
    font-size: 11.483px;
  }
  .doc_list {
    list-style: disc;
    padding-left: 20px;
  }
  .doc_list_item {
    font-size: 12.249px;
  }
  .main_subtitle {
    display: none;
  }
  .mob_subtitle {
    display: block;
    margin-top: 22px;
    margin-bottom: 32px;
    font-size: var(--font-size-18, 18px);
  }
  .main_button_mob-main {
    max-width: 220px;
  }
  .main_title {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .main_title span {
    font-size: 24px;
  }
  .main {
    padding-top: 120px;
  }
  /* Video switching handled by JavaScript */
}

@media (max-width: 768px) {
  .main_button_mob-main {
    display: flex;
  }
}

/* Video switching handled by JavaScript */
